orders.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Orders">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="orderNO" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="OrderDate"/>
                            <xs:element type="xs:int" name="CustNo"/>
                            <xs:element type="xs:string" name="paymentMethod"/>
                            <xs:element type="xs:string" name="productSKU"/>
                            <xs:element type="xs:string" name="productName"/>
                            <xs:element type="xs:float" name="productPrice"/>
                            <xs:element type="xs:float" name="productQuantity"/>
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="Id" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>